[package]
name = "edgedb-tokio"
license = "MIT/Apache-2.0"
version = "0.3.0"
authors = ["MagicStack Inc. <hello@magic.io>"]
edition = "2021"
description = """
    EdgeDB database client implementation for tokio.
"""
readme = "README.md"

[dependencies]
edgedb-protocol = {path = "../edgedb-protocol", version="0.4.0"}
edgedb-errors = {path = "../edgedb-errors", version="0.3.0"}
edgedb-derive = {path = "../edgedb-derive", version="0.3.0", optional=true}
tokio = { version="1.15", features=["net", "time", "sync"] }
bytes = "1.0.1"
scram = "0.6.0"
typemap = "0.3.3"
serde = { version="1.0", features=["derive"] }
serde_json = { version="1.0", optional=true }
sha1 = {version="0.10.1", features=["std"]}
base16ct = {version="0.1.1", features=["alloc"]}
log = "0.4.8"
rand = "0.8"
url = "2.1.1"
tls-api = {version="0.7.0", default-features=false, features=["runtime-tokio"]}
tls-api-not-tls = {version="0.7.0", default-features=false, features=["runtime-tokio"]}
tls-api-rustls = {version="0.7.0", default-features=false, features=["runtime-tokio"]}
rustls = {version="0.20.2", features=[
    "dangerous_configuration",  # this allows insecure mode
]}
rustls-native-certs = "0.6.1"
rustls-pemfile = "0.3.0"
webpki = "0.22.0"
webpki-roots = "0.22.2"
async-trait = "0.1.52"
anyhow = "1.0.53"  # needed for tls-api
dirs = { version="4.0.0", optional=true }

[dev-dependencies]
nix = "0.23.1"
command-fds = "0.2.1"
shutdown_hooks = "0.1.0"
once_cell = "1.9.0"
tokio = { version="1.15", features=["net", "time", "sync", "macros"] }
env_logger = "0.9"
thiserror = "1.0.30"
test-log = "0.2.8"
futures-util = "0.3.21"

[features]
default = ["derive", "env"]
derive = ["edgedb-derive"]
env = ["fs"]
admin_socket = []
unstable = ["serde_json"]  # features for CLI and Wasm
fs = ["tokio/fs", "dirs", "serde_json"]
