on:
  push:
    tags:
    - releases/edgedb-tokio/v*

name: Release edgedb-tokio

jobs:
  test_and_publish:
    name: Test and publish
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - uses: edgedb/setup-edgedb@v1.2.2
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: 1.59
          default: true
      - uses: actions-rs/cargo@v1
        with:
          command: test
          args: --all-features --package=edgedb-tokio
      - run: |
          set -x
          cargo_version="$(cargo metadata --format-version 1 \
            | jq -r '.packages[] | select(.name=="edgedb-tokio") | .version')"
          tag_version="${GITHUB_REF#refs/tags/releases/edgedb-tokio/v}"
          test "$cargo_version" = "$tag_version"

      - working-directory: ./edgedb-tokio
        run: |
          cargo publish --token=${{ secrets.CARGO_REGISTRY_TOKEN }}
