on: [pull_request]

name: CI

jobs:
  build_and_test:
    name: Tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust_version: [1.58, stable, beta]
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@master
      - uses: edgedb/setup-edgedb@v1.2.2
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: ${{ matrix.rust_version }}
          default: true
      - name: Test no-tokio
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --workspace --exclude edgedb-tokio --all-features
      - name: Test edgedb-tokio
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --package edgedb-tokio --all-features
      - name: Check no default features (no tokio)
        uses: actions-rs/cargo@v1
        with:
          command: check
          args: --no-default-features --workspace --exclude edgedb-tokio
      - name: Check no default features tokio
        uses: actions-rs/cargo@v1
        with:
          command: check
          args: --no-default-features --package edgedb-tokio
      - name: Check with `fs` feature
        uses: actions-rs/cargo@v1
        with:
          command: check
          args: --features=fs
      - name: Check with env feature
        uses: actions-rs/cargo@v1
        with:
          command: check
          args: --features=env
      - name: Check all features
        uses: actions-rs/cargo@v1
        with:
          command: check
          args: --all-features
      - name: Test protocol without default features
        working-directory: ./edgedb-protocol
        run: |
          cargo test --no-default-features
      - name: Test protocol with "all-types" feature
        working-directory: ./edgedb-protocol
        run: |
          cargo test --features=all-types
