on: [pull_request]

name: CI

jobs:
  build_and_test:
    name: Tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust_version: [default, minimum, beta]
    timeout-minutes: 15
    steps:
      # checkout and env setup
      - uses: actions/checkout@v3
      - uses: DeterminateSystems/nix-installer-action@main
      - uses: DeterminateSystems/magic-nix-cache-action@main
      - name: Build the nix shell
        run: nix develop .#${{ matrix.rust_version }} --command just --version
      - uses: Swatinem/rust-cache@v2

      # run tests
      - name: Run tests
        run: nix develop .#${{ matrix.rust_version }} --command just test
